<% if user_signed_in? %>
  <td>
  Logged in as : <%= current_user.email.to_s %>
  </td>
  <td>
  <%= link_to('Edit account', edit_user_registration_path) %>
  </td>
<% else %>
  <td colspan='2'>
  <% if !@context.nil? %>
    <%= link_to('Register', new_user_registration_in_context_path(@context.id)) %>
  <% else %>
    <%= link_to('Register', new_user_registration_path()) %>
  <% end %>
  </td>
<% end %>

