<% if user_signed_in? %>
  <li>
  <%= current_user.email.to_s %>
  <%= link_to('Edit account', edit_user_registration_path) %>
  </li>
<% else %>
  <li>
  <%= link_to('Sign up', new_user_registration_path) %>
  </li>
<% end %>

