doc_base/*
*.pdf
inbox/*
*.swp
.DS_Store
log/*.log
tmp/*
tmp/**/*
db/*.sqlite3
doc/*.doc
doc/*.pdf
public/system/*
private/*
webrat*
capybara*
rerun.txt
app/views/home/test.html.haml
log/mongrel.pid
public/stylesheets/payment-process.css
.~lock*
cursors/*
db/schema.rb