Select An Existing Topic<br/>
<form>

<%= collection_select("current_user", "current_marketing_context_type_id" , @existing_marketing_context_types, "id", "name",
{:prompt => true},
{:onchange => "select_user_marketing_context(this.form,#{current_user.id},this.options[this.selectedIndex].value)"} )
%>
</form>
