<h1>MarketingContextTypes#show</h1>
<p class="notice"><%= notice %></p>
 
<p>
  <b>Name:</b>
  <%= @marketing_context_type.name %>
</p>
 
 
<%= link_to 'Edit', edit_marketing_context_type_path(@post) %> |
<%= link_to 'Back', marketing_context_types_path %>

