<% content_for :head do-%>
  <style>
    div.activity-frame{
      margin: 20px
    }
    div.activity-frame table {
      font-size: 20px
    }

  </style>
<% end %>

<%= Touch::Layouts::Application.netzke(self) do |config| %>

<% config.content_for :title do-%>
   LivingToLearn
<% end %>

<% config.content_for :target__title do-%>
   Doing Activity
<% end %>

<% config.content_for :target__region do-%>
<div class="activity-frame">
<p>
  <b>Started <%= @activity.name %> at</b></br>
  <%=  @time_log.start_time.strftime('%m/%d/%Y %I:%M %p') %>
</p>
</br>

<%= render 'stop_form.html.erb' %>
</div>
<% end %>

<% end %>

