    .transparent-class {
      filter:alpha(opacity=90);
      -moz-opacity:0.9;
      -khtml-opacity: 0.9;
      opacity: 0.9;
    }
    div { position: relative }
    div.header{
      background-color: #CCCC00;
    }
     div.message{
      background-color: #FFCECE;
    }
    div.target{
      background-color: #F0CECE;
    }
    div.main{
      background-color: #F8CECE;
    }

  div.about {
    background-color: #33CCFF
  }
  div.user{
     background-color: #3366FF
  }
  div.goals{
    background-color:#33FFCC
  }
  div.commitments{
    background-color:#33FF66
  }
  div.accountability{
    background-color:#33FF66
  }

  div.x-tabbar{
    font-size: 14px
  }
  div.top-tab-title{
    padding: 5px;
    font-size: 20px;
  }
  div.mission{
    padding: 10px;
    font-size: 12px;
  }
  div.vision{
    padding: 10px;
    font-size: 12px;
  }
  div.x-form-label{
    font-size: 12px;
  }

