   body {
   }

   #body_table td {
     width:200px;
   }

   #body_table tr {
     height:200px;
   }

   #body-table table{
     color: #ff9900;
     border: 1px solid black;
     table-layout:fixed;
     border-collapse:collapse;
     width: 600px;
   }

   #topic-prompt {
     position: relative;
     left: 260px;
     top: 40px;
     font-size: 30pt
   }

   #target {
     position: relative;
     left: 10px;
     top: 10px;
     font-size: 18pt;
      filter:alpha(opacity=90);
     -moz-opacity:0.9;
     -khtml-opacity: 0.9;
     opacity: 0.9;
     background: #66EECC;
     color: #003300;
     border: 1px solid black;
     width: 825px;
     padding: 12px;
   }

   #copyright {
     position: relative;
     left: 10px;
     top: 10px;
     font-size: 10pt;
      filter:alpha(opacity=90);
     -moz-opacity:0.9;
     -khtml-opacity: 0.9;
     color: #003300;
     border: 1px solid black;
     width: 825px;
     height: 15px;
     padding: 12px;
   }

   .transparent-class {
     filter:alpha(opacity=90);
     -moz-opacity:0.9;
     -khtml-opacity: 0.9;
     opacity: 0.9;
   }

   #text-block {
     width:270px;
     color: #663300;
     background: #FFFFCC;
     padding: 12px;
   }

   #top-table td{
     text-align: center;
     background: none repeat scroll 0 0 #E8EDFF;
     color: #666699;
     padding: 8px;
  }

   #welcome-table td{
     text-align: center;
     background: none repeat scroll 0 0 #E8EDFF;
     border-left: 5px solid #AABCFE;
     border-right: 5px solid #AABCFE;
     color: #666699;
     padding: 8px;
     width: 140px;
  }

  #top-table table{
    border-collapse: collapse;
    font-family: "Lucida Sans Unicode","Lucida Grande",Sans-Serif;
    font-size: 12px;
    text-align: center;
  }

  #welcome-table table{
    border-collapse: collapse;
    font-family: "Lucida Sans Unicode","Lucida Grande",Sans-Serif;
    font-size: 12px;
    text-align: center;
  }

  hr {color: #ff9900; height: 1px }
   a:hover {color: #ff0000; text-decoration: none}
