<h3>Living To Learn Meets Basic Academic Objectives:</h3>
Programmed Learning programs drive skill development work into students homes. Our programs begin with assessments that determine proper levels for all material and then, based on both initial tests and ongoing progress, material is periodically delivered into students' homes by using the latest web, email, and text technology.
</br>

</br>
<ul>
<li>Vocabulary</li>
<li>Math</li>
<li>Writing</li>
</ul>

