
<% content_for :head do %>

  <meta name="Marketing" content="Sponsoring Kidsville News"/>
  <meta name="Marketing" content="Distributing Kidsville News"/>

  <meta name="Publishing" content="Kidsville News"/>

  <meta name="Business" content="Marketing">
  <meta name="Business" content="Distributing Kidsville News"/>
  <meta name="Business" content="Sponsoring Kidsville News"/>

<% end %>

<% content_for :title_region do %>
  Living to Learn Helps Businesses!
<% end %>

<% content_for :message_region do %>

Living to Learn provides business people unmatched opportunities to advance their wholesome messages to children and to their parents.
<% end %>

<% content_for :top_table_region do %>
   <% ['marketing','kidsville_news_sponsorship','kidsville_news_advertising','kidsville_news_business_distribution'].each do |code| 
     service = Service.find_by_code(code) %>
     <p id="testing_link"><%= link_to(service.name,goto_topic_service_path(@goto_topic_symbol,service.code))%></p>
   <% end %>
<% end %>


<% content_for :main_table_region do %>
<%= @goto_service_symbol %>
<TABLE id="welcome-table">
</TABLE>

<% end %>

<% content_for :target do-%>
  <%= render @goto_service_symbol %>
<% end %>

