<h3>Living To Learn Meets Business Objectives:</h3>
<ul>
<li>You might own a business</li>
<li>You might be involved with human resources</li>
<li>You might be involved with marketing</li>
</ul>
<ul>
<li>You can help your family with Owners' and Managers discounts for <b>Testing and Tutoring</b> </li>
<li>You can build traffic by distributing <b>Kidsville News</b> at your location(s)</li>
<li>You can market your products and services by becoming a <b>Kidsville News</b> sponsor</li>
<li>You can strengthen employee loyalty by getting employees discounts for <b>Testing and Tutoring</b> services</li>
</ul>

