<h3>Living To Learn Meets Business Objectives:</h3>
<li>Owners' families get discounts for <b>Testing and Tutoring</b> </li>
<li>Build traffic through distribution of <b>Kidsville News</b></li>
<li>Market thru <b>Kidsville News</b> sponsorship</li>
<li>Strengthen loyalty with <b>Employee Family</b> tutoring programs</li>
