
<% content_for :head do %>

  <meta name="Marketing" content="Sponsoring Kidsville News"/>
  <meta name="Marketing" content="Distributing Kidsville News"/>

  <meta name="Publishing" content="Kidsville News"/>

  <meta name="Business" content="Marketing">
  <meta name="Business" content="Distributing Kidsville News"/>
  <meta name="Business" content="Sponsoring Kidsville News"/>

<% end %>

<% content_for :title_region do %>
  Living to Learn Helps Businesses!
<% end %>

<% content_for :message_region do %>

Living to Learn provides business people unmatched opportunities to advance their wholesome messages to children and to their parents.
<% end %>

<% content_for :top_table_region do %>

<p id="tutoring_link"><%= link_to_function("Marketing and Public Relations","$('target').innerHTML = $('marketing').innerHTML")%></p>
<p id="tutoring_link"><%= link_to_function("Kidsville News! Sponsorship","$('target').innerHTML = $('kidsville_news_sponsorship').innerHTML")%></p>
<p id="tutoring_link"><%= link_to_function("Kidsville News! Advertising","$('target').innerHTML = $('kidsville_news_advertising').innerHTML")%></p>
<p id="tutoring_link"><%= link_to_function("Kidsville News! Business Distribution","$('target').innerHTML = $('kidsville_news_business_distribution').innerHTML")%></p>

<% end %>

<% content_for :main_table_region do %>

<TABLE id="welcome-table">
</TABLE>

<% end %>

<% content_for :hidden_region do %>
  <% render 'hidden_region_content' %>
<% end %>

<% content_for :onload_script do-%>
  $('target').innerHTML = $('business_leader').innerHTML
<% end %>

