<h3>Living To Learn Meets Character Education Objectives:</h3>

We build Character Education on principles drawn from <%= link_to  "Josephson Institiute", "http://charactercounts.org/sixpillars.html" %> :

<table class='detail-table'  width='800 px'>
<tr>
<td>Trustworthiness</td>
<td  >
Be honest • Don’t deceive, cheat, or steal • Be reliable — do what you say you’ll do • Have the courage to do the right thing • Build a good reputation • Be loyal — stand by your family, friends, and country
</td>
</tr>
<tr>
<td>Respect</td>
<td>
Treat others with respect; follow the Golden Rule • Be tolerant and accepting of differences • Use good manners, not bad language • Be considerate of the feelings of others • Don’t threaten, hit or hurt anyone • Deal peacefully with anger, insults, and disagreements
</td>
</tr>

<tr>
<td>Responsibility</td>
<td>
Do what you are supposed to do • Plan ahead • Persevere: keep on trying! • Always do your best • Use self-control • Be self-disciplined • Think before you act — consider the consequences • Be accountable for your words, actions, and attitudes • Set a good example for others
</td>
</tr>

<tr>
<td>Fairness</td>
<td>
Play by the rules
Take turns and share • Be open-minded; listen to others • Don’t take advantage of others • Don’t blame others carelessly • Treat all people fairly
</td>
</tr>

<tr>
<td>Caring</td>
<td>
Be kind
Be compassionate and show you care • Express gratitude • Forgive others • Help people in need
</td>
</tr>

<tr>
<td>Citizenship</td>
<td>
Do your share to make your school and community better • Cooperate • Get involved in community affairs • Stay informed; vote • Be a good neighbor • Obey laws and rules • Respect authority • Protect the environment • Volunteer
</td>
</tr>
</table>
