<h3>Living To Learn Offers Character Book Development:</h3>
<ul>
<li>Enroll several Local Businesses</li>
<li>Have each offer a <b>Give Away</b></li>
<li>Have each offer a type of <b>Gift Certificate</b></li>
<li>Assign each one a <b>Pillar of Character</b></li>
<li>Distribute Door Hangers in neighborhoods</li>
<li>Students get a <b>Give Away</b> when they contribute to a pillar</li>
<li>Students get a <b>Gift Certificate</b> after contributing to all</li>
</ul>
