
<% content_for :head do %>
  <meta name="Marketing" content="Sponsoring Kidsville News"/>
  <meta name="Marketing" content="Distributing Kidsville News"/>
  <meta name="Government" content="Sponsoring Kidsville News"/>

<% end %>

<% content_for :message_region do %>

Living To Learn helps College Students earn money and get valuable experience in a teaching, marketing and sales.

<% end %>

<% content_for :top_table_region do %>

<p id="tutoring_link"><%= link_to_function("Character Book Marketing","$('target').innerHTML = $('character_book').innerHTML")%></p>

<p id="tutoring_link"><%= link_to_function("Referral Fee Income","$('target').innerHTML = $('referral_fees').innerHTML")%></p>

<p id="tutoring_link"><%= link_to_function("Tutoring Income","$('target').innerHTML = $('tutoring_employment').innerHTML")%></p>

<% end %>

<% content_for :main_table_region do %>

<TABLE id="welcome-table">

</TABLE>

<% end %>

<% content_for :hidden_region do %>
  <% render 'hidden_region_content' %>
<% end %>

<% content_for :onload_script do-%>
  $('target').innerHTML = $('college_student').innerHTML
<% end %>

