<h3>Living To Learn Meets College Student Objectives:</h3>

Spend the summer doing good work and earning good money!</br>
</br>
Is it possible to earn money while promoting literacy and good character in your immmediate neighborhood and town? It is!
<ul>
<li>Enroll families in a long-term educational process</li>
<li>Enroll businesses in a program promoting good character </li>
<li>Sell tutoring services</li>
<li>Do Supervised and Programmed Tutoring</li>
</ul>
</br>
email your resume to LaquerEric@gmail.com ASAP!
