
<% content_for :head do %>
  <meta name="Testing" content="Reading"/>
  <meta name="Testing" content="Writing"/>
  <meta name="Testing" content="Math"/>

  <meta name="Tutoring" content="Reading"/>
  <meta name="Tutoring" content="Writing"/>
  <meta name="Tutoring" content="Math"/>

  <meta name="Tutoring" content="Small Group"/>
  <meta name="Tutoring" content="Individual"/>
  <meta name="Tutoring" content="In Home"/>

<% end %>
<% content_for :title_region do %>
  Living to Learn helps Curriculum Directors
<% end %>

<% content_for :message_region do %>
Living to Learn supports the deployment of mandated curricula without incurring hard costs to the district.
<% end %>

<% content_for :top_table_region do %>
   <% ['extra_academic','character_education','basic_academic','kidsville_news_school_distribution'].each do |code| 
     service = Service.find_by_code(code) %>
     <p id="testing_link"><%= link_to(service.name,goto_topic_service_path(@goto_topic_symbol,service.code))%></p>
   <% end %>
<% end %>

<% content_for :main_table_region do %>
<TABLE id="welcome-table">
</TABLE>
<% end %>

<% content_for :target do-%>
  <%= render @goto_service_symbol %>
<% end %>

