<h3>Living To Learn Meets Extra Academic Objectives:</h3>
Living to Learn advances academic objectives by providing resources in important areas that other educational resources providers have not. Many of these areas flow from <%= link_to "Partnership for 21rst Century Skills", "http://www.p21.org" %>. This organization is referenced by state curiculum requirements such as <%= link_to "2009 New Jersey Core Curriculum Content Standards", "https://www13.state.nj.us/NJCCCS/ContentAreaTableView_21st.aspx" %>
<br/>
<table>
<tr>
<td>Income and Career</td>
<td>Money Management</td>
<td>Credit and Debt Management</td>
</tr><tr>
<td>Planning Saving and Investing</td>
<td>Becoming a Critical Consumer</td>
<td>Civic Financial Responsibility</td>
</tr><tr>
<td>Risk Management and Insurance</td>
<td>Career Awareness</td>
<td>Career Exploration</td>
</tr><tr>
<td>Career Preparation</td>
<td>Critical Thinking and Problem Solving</td>
<td>Creativity and Innovation</td>
</tr><tr>
<td>Collaboration, Teamwork, and Leadership</td>
<td>Cross-Cultural Understanding and Interpersonal Communication</td>
<td>Communication and Media Fluency</td>
</tr><tr>
<td>Accountability, Productivity, and Ethics</td>
</tr>
</table>
