<h3>Living To Learn Meets Extra Academic Objectives:</h3>
Living to Learn advances academic objectives by providing resources in important areas that other educational resources providers have not. Many of these areas flow from <%= link_to "Partnership for 21rst Century Skills", "http://www.p21.org" %>. This organization is referenced by state curiculum requirements such as <%= link_to "2009 New Jersey Core Curriculum Content Standards", "https://www13.state.nj.us/NJCCCS/ContentAreaTableView_21st.aspx" %>
<br/>
<ul>
<li>Income and Career</li>
<li>Money Management</li>
<li>Credit and Debt Management</li>
<li>Planning Saving and Investing</li>
<li>Becoming a Critical Consumer</li>
<li>Civic Financial Responsibility</li>
<li>Risk Management and Insurance</li>
<li>Career Awareness</li>
<li>Career Exploration</li>
<li>Career Preparation</li>
<li>Critical Thinking and Problem Solving</li>
<li>Creativity and Innovation</li>
<li>Collaboration, Teamwork, and Leadership</li>
<li>Cross-Cultural Understanding and Interpersonal Communication</li>
<li>Communication and Media Fluency</li>
<li>Accountability, Productivity, and Ethics</li>
</ul>
