<h3>Living To Learn Meets Government Objectives:</h3>
<li>You might be a School District, a Boro, a Township, a County or a State</li>
<li>Create competitive advantage by making your jurisdiction perform better academically</li>
<li>Create competitive advantage with media that promotes all academics within jurisdiction</li>
