<h3>Living To Learn Meets Government Objectives:</h3>
<ul>
<li>You might be a School District, a Boro, a Township, a County or a State</li>
</ul>
<ul>
<li>You can create competitive advantage by helping your jurisdiction perform better academically</li>
<li>You can create competitive advantage by coopweratively creating media that promotes all academic opportunities within jurisdiction</li>
</ul>
