<h3>Kidsville News! : Content Lead</h3>
One major component of Living To Learn's offerings is <%= link_to "Kidsville News!","http://www.kidsvillenews.com"%> and its <%=link_to "local afiliates","http://kidsvillenewsofgloucestercountynj.com"-%>
<br/>
Becoming a Kidsville News! Content Lead places your organization in a position of authority. How?
<ul>
<li>All Kidsville News! content is reviewed by our local editorial panel</li>
<li>All Kidsville News! papers are given away free</li>
<li>Every child in the county (who attends a cooperating school) gets a Kidsville News! every month</li>
<li>Kidsville News! papers distributed primarily thru Elementary schools where they are used as a part of the curiculum</li>
<li>Audits show 2.2 readers per printed copy and the paper stays in the home for more than 30 days</li>
<li>Advertisers must seek your blessing to appear.</li>
<ul>

