<h3>Kidsville News! : Sponsorship</h3>
One major component of Living To Learn's offerings is <%= link_to "Kidsville News!","http://www.kidsvillenews.com"%> and its <%=link_to "local afiliates","http://kidsvillenewsofgloucestercountynj.com"-%>
<br/>

<br/>
Becoming a Kidsville News! Sponsor places your organization at the very top tier. How?
<ul>
<li>All Kidsville News! content is reviewed by our local editorial panel</li>
<li>All Kidsville News! papers are given away free</li>
<li>Every child in the county (who attends a cooperating school) gets a Kidsville News! every month</li>
<li>Kidsville News! papers are distributed primarily thru Elementary Schools</li>
<li>Kidsville News! papers are used as a part of the curriculum</li>
<li>Audits show 2.2 individuals read each paper (children AND their parents)</li>
<li>Audits show paper stays in the home for more than 30 days</li>
<ul>

