<h3>Kidsville News! : Advertising</h3>
One major component of Living To Learn's offerings is <%= link_to "Kidsville News!","http://www.kidsvillenews.com"%> and its <%=link_to "local afiliates","http://kidsvillenewsofgloucestercountynj.com"-%>
<br/>

<br/>
Becoming a Kidsville News! Sponsor Advertiser places your message into the community. How?

<ul>
<li>Audits show 2.2 readers per paper</li>
<li>Audits show paper stays in the home for more than 30 days</li>
<li>Please note that Advertisers must be associated with a particular 'Content Lead'</li>
<ul>

