<h3>Kidsville News!:</h3>
One major component of Living To Learn's offerings is <%= link_to "Kidsville News!","http://www.kidsvillenews.com"%> and its <%=link_to "local afiliates","http://kidsvillenewsofgloucestercountynj.com"-%>
<br/>
Kidsville is is distributed in over 50 counties and is given free to over 800,000 students every month. The business model that makes this possible is based on Elementary Schools distributing the publication to each and every student. More than 80% of the papers are delivered that way. Kidsville sponsors depend on that distribution because they have a wholesome message that they also want to convey to those same students and their parents.
<br/>
It's a partnership that works all over the country and it will work here too!
