<h3>NJ Locations</h3>
<div style="height:200px;overflow:scroll"><table border='1'>
<tr><th>State</th><th>County</th><th>Municipality</th><th>Type</th></tr>
<tr><td>NJ</td><td>Gloucester</td><td>Clayton</td><td>Borough</td></tr>
<tr><td>NJ</td><td>Gloucester</td><td>Glassboro</td><td>Borough</td></tr>
<tr><td>NJ</td><td>Gloucester</td><td>National Park</td><td>Borough</td></tr>
<tr><td>NJ</td><td>Gloucester</td><td>Newfield</td><td>Borough</td></tr>
<tr><td>NJ</td><td>Gloucester</td><td>Paulsboro</td><td>Borough</td></tr>
<tr><td>NJ</td><td>Gloucester</td><td>Pitman</td><td>Borough</td></tr>
<tr><td>NJ</td><td>Gloucester</td><td>Swedesboro</td><td>Borough</td></tr>
<tr><td>NJ</td><td>Gloucester</td><td>Wenonah</td><td>Borough</td></tr>
<tr><td>NJ</td><td>Gloucester</td><td>Westville</td><td>Borough</td></tr>
<tr><td>NJ</td><td>Gloucester</td><td>Woodbury Heights</td><td>Borough</td></tr>

<tr><td>NJ</td><td>Gloucester</td><td>Deptford</td><td>Township</td></tr>
<tr><td>NJ</td><td>Gloucester</td><td>East Greenwich</td><td>Township</td></tr>
<tr><td>NJ</td><td>Gloucester</td><td>Elk</td><td>Township</td></tr>
<tr><td>NJ</td><td>Gloucester</td><td>Franklin</td><td>Township</td></tr>
<tr><td>NJ</td><td>Gloucester</td><td>Greenwich</td><td>Township</td></tr>
<tr><td>NJ</td><td>Gloucester</td><td>Harrison</td><td>Township</td></tr>
<tr><td>NJ</td><td>Gloucester</td><td>Logan</td><td>Township</td></tr>
<tr><td>NJ</td><td>Gloucester</td><td>Mantua</td><td>Township</td></tr>
<tr><td>NJ</td><td>Gloucester</td><td>Monroe Township</td><td>Township</td></tr>
<tr><td>NJ</td><td>Gloucester</td><td>South Harrison</td><td>Township</td></tr>
<tr><td>NJ</td><td>Gloucester</td><td>Washington</td><td>Township</td></tr>
<tr><td>NJ</td><td>Gloucester</td><td>West Deptford</td><td>Township</td></tr>
<tr><td>NJ</td><td>Gloucester</td><td>Woolwich</td><td>Township</td></tr>

<tr><td>NJ</td><td>Gloucester</td><td>Almonesson</td><td>City</td></tr>
<tr><td>NJ</td><td>Gloucester</td><td>Asbury</td><td>City</td></tr>
<tr><td>NJ</td><td>Gloucester</td><td>Aura</td><td>City</td></tr>
<tr><td>NJ</td><td>Gloucester</td><td>Barnsboro</td><td>City</td></tr>
<tr><td>NJ</td><td>Gloucester</td><td>Beckett</td><td>City</td></tr>
<tr><td>NJ</td><td>Gloucester</td><td>Billingsport</td><td>City</td></tr>
<tr><td>NJ</td><td>Gloucester</td><td></td><td>City</td></tr>
<tr><td>NJ</td><td>Gloucester</td><td>Broad Lane</td><td>City</td></tr>
<tr><td>NJ</td><td>Gloucester</td><td>Cecil</td><td>City</td></tr>
<tr><td>NJ</td><td>Gloucester</td><td>Cedar Grove</td><td>City</td></tr>
<tr><td>NJ</td><td>Gloucester</td><td>Center Square</td><td>City</td></tr>
<tr><td>NJ</td><td>Gloucester</td><td>Colonial Manor</td><td>City</td></tr>
<tr><td>NJ</td><td>Gloucester</td><td>Cross Keys</td><td>City</td></tr>
<tr><td>NJ</td><td>Gloucester</td><td>Ewan</td><td>City</td></tr>
<tr><td>NJ</td><td>Gloucester</td><td>Forest Grove</td><td>City</td></tr>
<tr><td>NJ</td><td>Gloucester</td><td>Franklinville</td><td>City</td></tr>
<tr><td>NJ</td><td>Gloucester</td><td>Fries Mill</td><td>City</td></tr>
<tr><td>NJ</td><td>Gloucester</td><td>Gardenville Center</td><td>City</td></tr>
<tr><td>NJ</td><td>Gloucester</td><td>Gibbstown</td><td>City</td></tr>
<tr><td>NJ</td><td>Gloucester</td><td>Good Intent</td><td>City</td></tr>
<tr><td>NJ</td><td>Gloucester</td><td>Grand Sprute</td><td>City</td></tr>
<tr><td>NJ</td><td>Gloucester</td><td>Greenfields Village</td><td>City</td></tr>
<tr><td>NJ</td><td>Gloucester</td><td>Grenloch</td><td>City</td></tr>
<tr><td>NJ</td><td>Gloucester</td><td>Hardingville</td><td>City</td></tr>
<tr><td>NJ</td><td>Gloucester</td><td>Harrisonville</td><td>City</td></tr>
<tr><td>NJ</td><td>Gloucester</td><td>Hurfville</td><td>City</td></tr>
<tr><td>NJ</td><td>Gloucester</td><td>Janvier</td><td>City</td></tr>
<tr><td>NJ</td><td>Gloucester</td><td>Jericho</td><td>City</td></tr>
<tr><td>NJ</td><td>Gloucester</td><td>Malaga</td><td>City</td></tr>
<tr><td>NJ</td><td>Gloucester</td><td>Mantua Grove</td><td>City</td></tr>
<tr><td>NJ</td><td>Gloucester</td><td>Mickleton</td><td>City</td></tr>
<tr><td>NJ</td><td>Gloucester</td><td>Mount Royal</td><td>City</td></tr>
<tr><td>NJ</td><td>Gloucester</td><td>Mullica Hill</td><td>City</td></tr>
<tr><td>NJ</td><td>Gloucester</td><td>New Brooklyn</td><td>City</td></tr>
<tr><td>NJ</td><td>Gloucester</td><td>Nortonville</td><td>City</td></tr>
<tr><td>NJ</td><td>Gloucester</td><td>Oak Valley</td><td>City</td></tr>
<tr><td>NJ</td><td>Gloucester</td><td>Plainville</td><td>City</td></tr>
<tr><td>NJ</td><td>Gloucester</td><td>Porches Mill</td><td>City</td></tr>
<tr><td>NJ</td><td>Gloucester</td><td>Porchtown</td><td>City</td></tr>
<tr><td>NJ</td><td>Gloucester</td><td>Red Bank</td><td>City</td></tr>
<tr><td>NJ</td><td>Gloucester</td><td>Repaupo</td><td>City</td></tr>
<tr><td>NJ</td><td>Gloucester</td><td>Richwood</td><td>City</td></tr>
<tr><td>NJ</td><td>Gloucester</td><td>Salina</td><td>City</td></tr>
<tr><td>NJ</td><td>Gloucester</td><td>Sandy Hill</td><td>City</td></tr>
<tr><td>NJ</td><td>Gloucester</td><td>Sewell</td><td>City</td></tr>
<tr><td>NJ</td><td>Gloucester</td><td>Star Cross</td><td>City</td></tr>
<tr><td>NJ</td><td>Gloucester</td><td>Thorofare</td><td>City</td></tr>
<tr><td>NJ</td><td>Gloucester</td><td>Tomlin</td><td>City</td></tr>
<tr><td>NJ</td><td>Gloucester</td><td>Turnersville</td><td>City</td></tr>
<tr><td>NJ</td><td>Gloucester</td><td>Verga</td><td>City</td></tr>
<tr><td>NJ</td><td>Gloucester</td><td>Victory Lakes</td><td>City</td></tr>
<tr><td>NJ</td><td>Gloucester</td><td>Williamstown</td><td>City</td></tr>
<tr><td>NJ</td><td>Gloucester</td><td>Wolfert</td><td>City</td></tr>
<tr><td>NJ</td><td>Gloucester</td><td>Woodbury</td><td>City</td></tr>
<tr><td>NJ</td><td>Gloucester</td><td>Wrightsmill</td><td>City</td></tr>
</table></div>

