<h3>Living To Learn Meets Non-Profit Objectives:</h3>
<<<<<<< HEAD
<li>Can be a Parent Teacher Organization, a Sports Team, a Church etc.</li>
<li>Can raise money by reselling testing and tutoring services</li>
<li>Can offer a program to members to track and improve academic skills</li>
=======
<li>Can raise money by reselling testing and tutoring services</li>
<li>Can offer program to members to track and improve academic skills</li>
>>>>>>> 6dccb6569baf2c4c5239ebe823135e699e4d3636
<li>Can advance their message thru Kidsville News sponsorships</li>

