<h3>Living To Learn Meets Non-Profit Objectives:</h3>
<ul>
<li>You might represent a Parent Teacher Organization</li>
<li>You might represent a Sports Team</li>
<li>You might represent a Church</li>
</ul>
<ul>
<li>You can raise money by reselling testing and tutoring services</li>
<li>You can offer a program to members to track and improve academic skills</li>
<li>You can advance your message thru Kidsville News sponsorships</li>
</ul>
