<h3>Living To Learn Meets Non-Profit Objectives:</h3>
<li>Can raise money by reselling testing and tutoring services</li>
<li>Can offer program to members to track and improve academic skills</li>
<li>Can advance their message thru Kidsville News sponsorships</li>

