<h3>Living To Learn Meets Parents Objectives:</h3>
<ul>
<li>You might be a Parent</li>
<li>You might be a Guardian</li>
</ul>
<ul>
<li>You can steer your children around academic issues by maintaining vigilance</li>
<li>You can correct academic problems when they arise</li>
<li>You can (soon) maintain a secure Living To Learn page where your childrens' academic records are available</li>
<li>You can (soon) maintain a secure Living To Learn page from which all your childrens' institutions past and present are visible</li>
</ul>
