
<% content_for :head do %>
  <meta name="Testing" content="Reading"/>
  <meta name="Testing" content="Writing"/>
  <meta name="Testing" content="Math"/>

  <meta name="Tutoring" content="Reading"/>
  <meta name="Tutoring" content="Writing"/>
  <meta name="Tutoring" content="Math"/>

  <meta name="Tutoring" content="Small Group"/>
  <meta name="Tutoring" content="Individual"/>
  <meta name="Tutoring" content="In Home"/>

  <meta name="Student" content="Testing">
  <meta name="Student" content="Tutoring">

  <meta name="Parent" content="Student Testing">
  <meta name="Parent" content="Student Tutoringing">

  <meta name="NonProfit" content="Marketing">

<% end %>

<% content_for :message_region do %>
Living to Learn helps you and every member of your family achieve higher levels of academic achievement by helping individuals avoid common educational and career issues. When issues are detected, we can also help you find ways to remediate those issues.
<% end %>

<% content_for :top_table_region do %>
   <% ['tutoring','testing'].each do |code| 
     service = Service.find_by_code(code) %>
     <p id="testing_link"><%= link_to(service.name,goto_topic_service_path(@goto_topic_symbol,service.code))%></p>
   <% end %>
<% end %>

<% content_for :main_table_region do %>
<TABLE id="welcome-table">
</TABLE>
<% end %>

<% content_for :hidden_region do %>
  <% render 'hidden_region_content' %>
<% end %>

<% content_for :onload_script do-%>
  $('target').innerHTML = $(<%= @goto_service_symbol %>).innerHTML
<% end %>

