<h3>Living To Learn Meets Parents Objectives:</h3>
<li>You might be Parent or a Guardian</li>
<li>Steer your children around academic issues by maintaining vigilance and by correcting problems immediately when they arise.</li>
<li>Maintain a Living To Learn page where your childrens' academic records are available</li>
<li>Maintain a Living To Learn page from which all your childrens' institutions past and present are visible</li>

