<h3>Living To Learn Meets Parents Objectives:</h3>
<li>You might be Parent or a Guardian</li>
<li>Steer your children arround acafrmic issues by maintaining vigilence nad correctly problem immediately when they arrise.</li>
<li>Maintain your children's academic records in a single unified form</li>
<li>Have one way to navigate to all your childrens institutions and their resources</li>

