
<% content_for :head do %>
  <meta name="Testing" content="Reading"/>
  <meta name="Testing" content="Writing"/>
  <meta name="Testing" content="Math"/>

  <meta name="Tutoring" content="Reading"/>
  <meta name="Tutoring" content="Writing"/>
  <meta name="Tutoring" content="Math"/>

  <meta name="Tutoring" content="Small Group"/>
  <meta name="Tutoring" content="Individual"/>
  <meta name="Tutoring" content="In Home"/>

<% end %>
<% content_for :title_region do %>
  Living to Learn helps Students
<% end %>

<% content_for :message_region do %>
Living to Learn helps you find out where you really are academically and helps you get to where you want to be!
<% end %>

<% content_for :top_table_region do %>
   <% ['testing','tutoring'].each do |code| 
     service = Service.find_by_code(code) %>
     <p id="#{code}_link"><%= link_to(service.name,goto_topic_service_path(@goto_topic_symbol,service.code))%></p>
   <% end %>
<% end %>

<% content_for :main_table_region do %>
<TABLE id="welcome-table">
<TR>
<TD class='transparent-class' ><%= link_to_function("If Want to Know Where You Are Academically","$('target').innerHTML = $('testing').innerHTML")%></TD>
<TD class='transparent-class' ><%= link_to_function("If You Want Academic Help","$('target').innerHTML = $('tutoring').innerHTML")%></TD>
</TR>
</TABLE>

<% end %>

<% content_for :target do-%>
  <%= render @goto_service_symbol %>
<% end %>

