<h3>Living To Learn Meets Student Objectives:</h3>
<li>Builds your fundemental skills in <b>Reading, Writing, and Math</b></li>
<li>Builds your science subject skills in <b>Physics, Chemistry, Biology</b></li>
<li>Builds your math Subject skills in <b>Trigonometry, PreCalculus, Calculus</b></li>
<li>Offers you courses in comfortable  <b>Learning Center</b> locations</li>
<li>Offers you courses <b>in your home</b> locations</li>
<li>Offers you very small group (less than 3) instruction</li>
<li>Offers you individual instruction</li>

