
<% content_for :head do %>
  <meta name="Testing" content="Reading"/>
  <meta name="Testing" content="Writing"/>
  <meta name="Testing" content="Math"/>

  <meta name="Tutoring" content="Reading"/>
  <meta name="Tutoring" content="Writing"/>
  <meta name="Tutoring" content="Math"/>

  <meta name="Tutoring" content="Small Group"/>
  <meta name="Tutoring" content="Individual"/>
  <meta name="Tutoring" content="In Home"/>

<% end %>
<% content_for :title_region do %>
  Living to Learn helps Superintendants
<% end %>

<% content_for :message_region do %>

Living to Learn supports the distribution of mandated materials without incurring hard costs to the district.

<% end %>

<% content_for :top_table_region do %>

<p id="tutoring_link"><%= link_to_function("Extra Academic Support","$('target').innerHTML = $('extra_academic').innerHTML")%></p>
<p id="tutoring_link"><%= link_to_function("Character Education Support","$('target').innerHTML = $('character_education').innerHTML")%></p>
<p id="tutoring_link"><%= link_to_function("Basic Academic Support","$('target').innerHTML = $('basic_academic').innerHTML")%></p>
<p id="tutoring_link"><%= link_to_function("Kidsville News! School Distribution","$('target').innerHTML = $('kidsville_news_school_distribution').innerHTML")%></p>

<% end %>

<% content_for :main_table_region do %>

<TABLE id="welcome-table">

</TABLE>

<% end %>

<% content_for :hidden_region do %>
  <% render 'hidden_region_content' %>
<% end %>

<% content_for :onload_script do-%>
  $('target').innerHTML = $('superintendent').innerHTML
<% end %>

