<h3>Living To Learn Meets Many Objectives:</h3>
<% if @disable_logins.nil? %>
If you have already registered, please login.<br/>
<br/>
Otherwise, please surf a litle to see if we can help. Our services are listed on the upper right and a list of typical user profiles is listed below. Either way you choose, we hope you find what you are looking for. If not, please just call! (856 270 6810).  We also do things JUST BECAUSE A CLIENT NEEDS US TO so do not hesitate to ask.<br/>
<% else %>
Our educational initiative sites dedicated to support of our partners can be seen <%= link_to "here",sites_root_path%>. Once you find something of interest, please register from whatever page most closely matches your interest.
<% end %>
<br/>
<br/>

Thanks for your visit! 

