<% content_for :head do %>
  <meta name="Testing" content="Reading"/>
  <meta name="Testing" content="Writing"/>
  <meta name="Testing" content="Math"/>

  <meta name="Tutoring" content="Reading"/>
  <meta name="Tutoring" content="Writing"/>
  <meta name="Tutoring" content="Math"/>

  <meta name="Tutoring" content="Small Group"/>
  <meta name="Tutoring" content="Individual"/>
  <meta name="Tutoring" content="In Home"/>

  <meta name="Marketing" content="Sponsoring Kidsville News"/>
  <meta name="Marketing" content="Distributing Kidsville News"/>

  <meta name="Publishing" content="Kidsville News"/>

  <meta name="Student" content="Testing">
  <meta name="Student" content="Tutoring">

  <meta name="Parent" content="Student Testing">
  <meta name="Parent" content="Student Tutoringing">

  <meta name="NonProfit" content="Marketing">
  <meta name="NonProfit" content="Sponsoring Kidsville News">
  <meta name="NonProfit" content="Fundraising">

  <meta name="Business" content="Marketing">
  <meta name="Business" content="Distributing Kidsville News"/>
  <meta name="Business" content="Sponsoring Kidsville News"/>

  <meta name="Government" content="Sponsoring Kidsville News"/>

  <meta name="Personality" content="Public Relations">

  <meta name="Academic" content="Income and Career">
  <meta name="Academic" content="Money Management">
  <meta name="Academic" content="Credit and Debt Management">
  <meta name="Academic" content="Planning Saving and Investing">
  <meta name="Academic" content="Becoming a Critical Consumer">
  <meta name="Academic" content="Civic Financial Responsibility">
  <meta name="Academic" content= "Risk Management and Insurance">

  <meta name="Academic" content= "Math">
  <meta name="Academic" content= "Vocabulary">

  <meta name="Academic" content= "Career Awareness">
  <meta name="Academic" content= "Career Exploration">
  <meta name="Academic" content= "Career Preparation">

  <meta name="Academic" content= "Critical Thinking and Problem Solving">
  <meta name="Academic" content= "Creativity and Innovation">
  <meta name="Academic" content= "Collaboration, Teamwork, and Leadership">
  <meta name="Academic" content= "Cross-Cultural Understanding and Interpersonal Communication">
  <meta name="Academic" content= "Communication and Media Fluency">
  <meta name="Academic" content= "Accountability, Productivity, and Ethics>

<% end %>

<% content_for :title_region do %>
Living to Learn helps the Whole Community!
<% end %>

<% content_for :message_region do %>

Living to Learn helps you and every member of your family achieve higher levels of academic achievement by helping individuals avoid common educational and career issues. When issues are detected, we can also help you find ways to remediate those issues.

<% end %>

<% content_for :top_table_region do %>
   <% ['testing','tutoring','marketing','extra_academic','character_education','private_label_financial_literacy'].each do |code| 
     service = Service.find_by_code(code) %>
     <p id="testing_link"><%= link_to(service.name,goto_topic_service_path(@goto_topic_symbol,service.code))%></p>
   <% end %>
<% end %>

<% content_for :main_table_region do %>

<TABLE id="welcome-table">
<% ar = MarketingContextType.all%>
<%   entry = 0 ; row = 0; while(true) do %>
     <TR>
<%   (0..4).each do %>
<%     if entry < ar.length %>
         <TD class='transparent-class' ><%= link_to(ar[entry].best_prompt,goto_topic_path(ar[entry].name.gsub(' ','_').downcase))%></TD>
<%       entry += 1 %>
<%     end %>
<%   end %>
     </TR>
<%   break if entry > ar.length-1 %>
<% end %>
</TABLE>

<% end %>

<% content_for :target do-%>
  <%= render @goto_service_symbol %>
<% end %>

