<div id="text2" style="position:absolute; overflow:hidden; left:235px; top:366px; width:461px; height:53px; z-index:10"><div class="wpmd"> 
<div><font class="ws8"><B>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </B></font><font class="ws8" color="#993300"><B>What We Do&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </B></font></div> 
</div></div> 
 
<div id="text5" style="position:absolute; overflow:hidden; left:42px; top:393px; width:235px; height:200px; z-index:11"><div class="wpmd"> 
<div><font class="ws8" color="#808080">For Students<BR></font></div> 
<UL> 
<li><font color="#808080">Math, Reading, Writing </font></li> 
<li><font color="#808080">Chemistry, Biology, Physics </font></li> 
<li><font color="#808080">Algebra, Geometry, Trigonometry, PreCalculus</font></li> 
<li><font color="#808080">Literature, Foreign Languages </font></li> 
</UL> 
</div></div> 
 
<div id="text6" style="position:absolute; overflow:hidden; left:276px; top:393px; width:225px; height:200px; z-index:12"><div class="wpmd"> 
<div><font class="ws11" color="#808080">For Organizations:</font></div> 
<UL> 
<li><font color="#808080">Help educate the children of your members </font></li> 
<li><font color="#808080">Advance your members involvement with the education of their children </font></li> 
<li><font color="#808080">Associate your name with educational initiatives </font></li> 
</UL> 
</div></div> 

<div id="text4" style="position:absolute; overflow:hidden; left:515px; top:390px; width:194px; height:166px; z-index:9"><div class="wpmd"> 
<div><font class="ws11" color="#808080">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; For Governments:</font></div> 
<UL> 
<li><font color="#808080">Help educate the children in your area</font></li> 
<li><font color="#808080">Advance your area as a place where education matters</font></li> 
<li><font color="#808080">Advance your message through educational initiatives</font><font class="ws8" color="#808080">&nbsp; </font></li> 
</UL> 
</div></div> 
 
