

<div id="text1" style="position:absolute; overflow:hidden; left:48px; top:403px; width:194px; height:90px; z-index:19"><div class="wpmd">
<div><font class="ws8" color="#808080"><b>Fonummy</b></font></div>
<div><font class="ws8" color="#808080">Fusce suscipit varius mi. Cum sociis </font></div>
<div><font class="ws8" color="#808080">natoques et magnis dis parturient... </font></div>
<div><font class="ws8" color="#808080">montes, nascetur ridiculus mus. </font></div>
<div><font class="ws8" color="#808080">Nulla dui. Fusce feugiat malesuada </font></div>
<div><font class="ws8" color="#808080">odio. Morbi nunc odio, gravida at,</font></div>
</div></div>




<div id="text4" style="position:absolute; overflow:hidden; left:515px; top:395px; width:194px; height:90px; z-index:9"><div class="wpmd">
<div><font class="ws8" color="#808080"><b>Fonummy</b></font></div>
<div><font class="ws8" color="#808080">Fusce suscipit varius mi. Cum sociis </font></div>
<div><font class="ws8" color="#808080">natoques et magnis dis parturient... </font></div>
<div><font class="ws8" color="#808080">montes, nascetur ridiculus mus. </font></div>
<div><font class="ws8" color="#808080">Nulla dui. Fusce feugiat malesuada </font></div>
<div><font class="ws8" color="#808080">odio. Morbi nunc odio, gravida at,</font></div>
</div></div>

<div id="text2" style="position:absolute; overflow:hidden; left:54px; top:365px; width:644px; height:53px; z-index:10"><div class="wpmd">
<div><font class="ws8" color="#808080"><b>Aenean Nonummy</b></font><font class="ws8"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </b></font><font class="ws8" color="#993300"><b>What We Do&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </b></font><font class="ws8" color="#808080"><b>Information</b></font></div>
</div></div>

<div id="text5" style="position:absolute; overflow:hidden; left:258px; top:389px; width:235px; height:112px; z-index:11"><div class="wpmd">
<ul>
<li><font class="ws8" color="#808080"><u>Fusce suscipit varius mi. Cum sociis </u></font></li>
<li><font class="ws8" color="#808080"><u>natoques et magnis dis parturient... </u></font></li>
<li><font class="ws8" color="#808080"><u>montes, nascetur ridiculus mus. </u></font></li>
<li><font class="ws8" color="#808080"><u>Nulla dui. Fusce feugiat malesuada </u></font></li>
<li><font class="ws8" color="#808080"><u>odio. Morbi nunc odio, gravida at,</u></font></li>
</ul>
</div></div>

<div id="text6" style="position:absolute; overflow:hidden; left:275px; top:496px; width:225px; height:94px; z-index:12"><div class="wpmd">
<div><font class="ws8" color="#808080"><b>Fonummy</b></font></div>
<div><font class="ws8" color="#808080">Fusce suscipit varius mi. Cum sociis natoques et magnis dis parturient... montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cum sociis natoques et magnis dis parturient</font></div>
</div></div>



