<% content_for :site_title_top_line do %>
Living To Learn
<% end %>

<% content_for :site_title_second_line do %>
Your Family's Education Matters
<% end %>

<% content_for :message_region do %>
  LivingToLearn creates web sites dedicated to delivering wholesome, educational messages in cooperation with our partners and with our potential partners.
<% end %>

<% content_for :main_region do %>
Choose to visit any of the selected sites by clicking 'Goto'
<% end %>

<% content_for :target_region do %>
<table>

  <tr>
    <th>Type</th>
    <th>Name</th>
    <th>Municipality</th>
  </tr>

<% @subdomains.each do |subdomain| %>
  <tr>
    <td><%= subdomain.entitytype_clean %></td>
    <td><%= subdomain.name_clean %></td>
    <td><%= subdomain.muni_clean %></td>
<% next if subdomain.path_bad? %>
    <td><%= link_to 'Goto', site_root_url( :host => subdomain.root_url(request) ) %></td>
  </tr>
<% end %>
</table>
<% end %>
