<h1>YourBooks</h1>
<h1><%=@district.name%></h1>
<br/>
<table>
  <tr>
    <td>YourBooks</td>
    <td>CharacterBook</td>
  </tr>
<% @district.schools.each do |school| %>
  <tr>
    <td><%= link_to school.name, school_site_url( @district.nickname, school.nickname) %></td>
    <td><%= link_to 'link', school_character_book_url( @district.nickname, school.nickname) %></td>
  </tr>
<% end %>

</table>


