<div id='curriculum'>

<div class='item'>

<div class='name'>aa</div>
<div class='start'>0</div>
<div class='length'>5</div>

</div>

<div class='item'>

<div class='name'>bb</div>
<div class='start'>1</div>
<div class='length'>5</div>

</div>

<div class='item'>

<div class='name'>cc</div>
<div class='start'>2</div>
<div class='length'>5</div>

</div>

<div class='item'>

<div class='name'>dd</div>
<div class='start'>3</div>
<div class='length'>5</div>

</div>

</div>

