<div class="activity-list-frame">
<table>
<% @activities.each do |activity| %>
  <tr>
    <td class="activity"><div class="level-<%= activity.level %>">
      <%= link_to "#{activity.name}", start_activity_path(activity.id) %></div></td>
  </tr>
<% end %>
</table>
</div>

</br>
<%= link_to 'Back To Summary', user_private_path %>

