<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>Version 0.9</title>

   <style>

   table#curriculum{
     border-width: 3px;
     border-spacing: ;
     border-style: outset;
     background-color: #FFCECE;
   }

   table#curriculum tr.breadcrumb{
     background-color: #FF99FF;
   }

   table#curriculum tr.header{
     background-color: #FFFFCC;
   }

   table#curriculum th.curriculum-description{
     font-size: 10pt;
   }

   table#curriculum td.class{
     width: 20;
     color: #000000;
     margin: 10pt;
     border: 1;
     font-size: 10pt;
   }

   table#curriculum td.id{
     width: 20;
     color: #000000;
     margin: 10pt;
     border: 1;
     font-size: 10pt;
   }

   table#curriculum td.code{
     width: 20;
   }

   table#curriculum th.description{
     padding:10px;
     width: 800px;
     color: #000000;
     margin: 10pt;
     border: 1;
     font-size: 10pt;
   }

   table#curriculum th.grade{
     width: 40px;
     color: #000000;
     font-size: 6pt;
   }

   table#curriculum td.grade{
     width: 40px;
     color: #000000;
     font-size: 6pt;
   }

   table#curriculum td.grade div.ref-line.ref-to-deadline--1{
     background: #33FF66;
   }

   table#curriculum td.grade div.ref-line.ref-to-deadline-0{
     background: #FFFF66
   }

   table#curriculum td.grade div.ref-line.ref-to-deadline-1{
     background: #FF3366;
   }

   </style>

    <script type="text/javascript" src="/javascripts/prototype.js"></script>

   </head>
<body>
<%= yield %>
</body>
</html>
