<!DOCTYPE html>
<html>
  <head>
    <title>Kidsville News of Gloucester County NJ</title>
  </head>
  <body>
    <img src="/images/kvn_logo.png" alt="KVN Logo" />
</br>

<%= yield -%>

<h1>Contact</h1>

Eric Laquer<br/>
Kidsville News Of Gloucester County NJ<br/>
283-B Egg Harbor Rd. #123<br/>
Sewell, NJ 08080-3156<br/>
<br/>
Tel 856-270-6820<br/>
Fax 856-589-8822<br/>
<br/>
web: <a href="http://KidsvilleNewsOfGloucesterCountyNJ.com">http://KidsvilleNewsOfGloucesterCountyNJ.com</a>
<br/>
email: <a href="mail://LaquerEric@gmail.com">LaquerEric@gmail.com</a><br/>
<br/>
<a href="http://KidsvilleNews.com">Kidsville News National</a>

</body>
</html>
